ul,
ol {
  list-style-type: none;
}

.gallery {
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  height: 696px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-grow: 1;
}
